.shop {
    background-color: aliceblue;
    border: 1px solid slategray;
    padding: 2em;
    margin: 1em;
}

.shop-logo {
    height: 150px;
    width: 100%;
}

.shop-logo img {
    height: 100%;
}

.shop h2 {
    color: darkslategray;
}

.shop address {
    color: darkslategray;
    font-style: normal;
}

.shop-url {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    padding: .25em 0;
}

.shop-url a {
    text-decoration: none;
    color: white;
}

.shop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
    padding: .25em 0;
    margin-bottom: 0;
}

.shop-menu a {
    text-decoration: none;
    color: white;
}